/*  Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
 
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 

 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

 }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) { 

 }
 /* Extra Extra large devices (large desktops, 1200px and up) */
 @media (min-width: 1400px) { 
    
  }



  /* footer-media-part */
  /*  Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    form {
        padding: 26px 2px;

        
    }



    p {
        margin-top: 0;
        margin-right: 25px;
    }

    .inpt-3 {
        margin-left: 182px;
        border-radius: 5px;
        padding: 10 65px;
        padding: 10px;
    }

.col-12{
    text-align: center;
}
.b2{
    float: none;
}

.inpt-1 {
    padding: 9px 14px;
    border-radius: 5px;
  width: 60%;
}
.submit{
    width: 30%;
    padding: 8px 0px;
}

button {
    border-radius: 5;
}


.inpt-2 {
    padding: 5px 61px;
}



}

/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {


    .inpt-1 {
        padding: 12px 22px;
        border-radius: 5px;
        margin: -4px;
    }

    .para {
        margin: 7px -9px 10px;
    }
    
  


    ul li {
        margin: 7px -37px;
        list-style: none;
        text-decoration: none;
    }

    .p-2 {
        margin: -1px -16px;
    }

    form {
        padding: 27px 0px;
        margin: -12px;
    }
    .inpt-2 {
        padding: 5px 60px;
    }

    .inpt-3 {
        margin-left: 170px;
        border-radius: 5px;
        padding: 11px 17px;
    }

    .b2 {
        padding-left: 221px;
        margin: -48px 80px;
    }
 
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 

 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

 }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) { 

 }
 /* Extra Extra large devices (large desktops, 1200px and up) */
 @media (min-width: 1400px) { 
    
  }