h2{
    font-size: 30px;
    line-height: 38px;
}


/* Screensshot Owl Carousel  */
.screenshot-header, .feedback-header {
    max-width: 730px;
    margin: auto;
}
.ss-carousel{
    cursor: pointer;
}
.ss-item{
    max-width: 250px;
    margin: auto;
}
.ss-item img{
    border-radius: 20px;
}


/* Feedback Owl Carousel  */
.feedback-item {
    display: flex;
    justify-content: center;
}
.testimonial {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
}
.testimonial-content {
    display: flex;
    align-items: center;
}
.testimonial-image {
    flex: 0 0 auto;
    margin-right: 20px;
}
.testimonial-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.testimonial-text {
flex: 1 1 auto;
}
.testimonial-text p {
margin: 0 0 10px;
font-style: italic;
line-height: 1.4;
}
.testimonial-text span {
font-weight: bold;
}
.fa-quote-right, .fa-quote-left{
    font-size: 25px;
    margin-right: 10px;
    display: inline-block;
    color: rgb(255, 101, 165);
}

/* Customize the Owl Carousel pagination dots */
.owl-carousel .owl-dot span{
    background-color: #ccc !important;
}
.owl-carousel .owl-dot.active span{
    width: 30px !important;
    background-color: rgb(255, 101, 165) !important;
}
.owl-carousel .owl-dot.active:hover span{
    background-color: rgb(255, 101, 165) !important;
}
.owl-carousel .owl-dot:hover span{
    background-color: #ccc !important;
}
/* Name in card */
.smlFnt {
    font-size: 12px;
    color: #777777;
}


/* Brand logo Owl Carousel */

.logo-item {
    padding: 0 15px;
    width: 110px;
}